<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="/css/common.css" type="text/css"></link>
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
<title>top page</title>
<meta http-equiv="Content-Type" content="text/html charset=UTF-8">
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</head>
<body>
	<div class="container">
		<div class="top-wrapper">
			<h1 class="title" th:text="#{content.title}">Hello page</h1>
			<form method="post" action="/" th:object="${formModel}">
				<div class="form-wrapper">
					<label for="name" class="name-label">Your name</label> <input
						class="name-form" type="text" name="name" th:value="${name}" />
					<div class="btn-wrapper">
						<button type="submit" class="btn btn-primary go-push-button"
							formaction="/toPush">Go push page</button>
						<button type="submit" class="btn btn-success go-pop-button"
							formaction="/toPop">Go pop page</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>