<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="/css/common.css" type="text/css"></link>
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
<title>top page</title>
<meta http-equiv="Content-Type" content="text/html charset=UTF-8">
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</head>
<body>
	<div class="container">
		<h1 class="sub-title" th:text="#{pushpage.title}">Hello page</h1>
		<div class="top-wrapper">
			<div class="top-link-wrapper">
				<form method="post" name="totoplink" action="/toTop">
					<input type="hidden" name="name" th:value="${name}" /> <a
						href="javascript:document.totoplink.submit()">&lt;&lt; Top page</a>
				</form>
			</div>
			<span th:text="${flash}" th:if="${flash}" class="flash"></span> <span
				th:text="${error_flash}" th:if="${error_flash}" class="error-flash"></span>
			<div>
				<form method="post" action="/push" th:object="${formModel}">
					<label for="name">Name</label> <input type="text" name="name"
						class="name-form" th:value="${name}" />
					<div>
						<label for="content">Content</label>
						<textarea name="content" class="content" cols="20" rows="5"></textarea>
					</div>
					<div class="btn-wrapper">
						<input type="submit" value="Push"
							class="btn btn-primary push-button" />
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>